%div.intro-header
  %div.container
    %div.row
      %div.col-lg-12
        %div.intro-message
          %h1 Lighthouse
          %h3 Find your next favorite movie.

%div.content-section-a
  %div.container
    %div.row
      %div.col-lg-5.col-sm-6
        %h2.section-heading Discover new movies
        %p.lead Tell us what movies you like and don't like and we'll find something for you.
      %div.col-lg-5.col-lg-offset-2.col-sm-6
        %img.img-responsive.content-img{ src: image_path("welcome_first.jpg") }

%div.content-section-b
  %div.container
    %div.row
      %div.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %h2.section-heading Keep up with your friends
        %p.lead Chat with your friends about the latest flicks.
      %div.col-lg-5.col-sm-pull-6.col-sm-6
        %img.img-responsive.content-img{ src: image_path("welcome_second.jpg") }

%div.banner
  %div.container
    %div.row
      %div.col-md-12
        %h2 Get Started Now
