// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fold {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.about-us {
  background-color: #8C001A;
  color: white;
  p {
    font-size: 16px;
  }
}

.founders {
  background-color: white;

  img {
    margin: auto;
  }
  a {
    text-decoration: none;
  }
}

.contact {
  background-color: #8C001A;
  color: white;
}

.contact-logos {
  background-color: white;
}

.white-text {
  color: white;
}

.capitalized-header {
  text-transform: uppercase;
  font-size: 42px;
}
