%div.footer
  %div.container
    %div.row
      %div.col-lg-12
        %ul.list-inline
          %li
            = link_to "Home", root_path
          %li.footer-menu-divider &sdot;
          %li
            = link_to "About", about_path
        %p.copyright.text-muted.small Copyright &copy; 2015 | Made in Berkeley with &hearts;.
